[submodule "backtest"]
	path = backtest
	url = https://github.com/kernc/backtesting.py.git
[submodule "method"]
	path = method
	url = git@github.com:zuongthaotn/quant-trading-by-py.git
[submodule "vn-stock-data"]
	path = vn-stock-data
	url = git@github.com:zuongthaotn/vn-stock-data.git